body {
  background-color: black;
  background-image: url(https://i.pinimg.com/originals/46/d7/00/46d700704c0ae473389c1bfb49501fd3.gif);
  height: 100%;
  /*
  https://i.pinimg.com/564x/55/c3/99/55c3990b2856b3bc6d9f43e261a6e0fc.jpg
  */
}
.backgro {
  background-color: black;
  color: #2997ff;
}
.img1 {
  position: relative;
  margin-left: 15%;
  height: 200px;
  width: 100%;
}
.tittle {
  width: 80%;
  background-size: cover;
}
.styl {
  margin-left: 30%;
  margin-top: 18px;
}
.styl2 {
  margin-left: 38%;
  margin-top: 18px;
  margin-bottom: 150px;
}
.form {
  color: #2997ff;

  background-color: black;
}
.center {
  margin-left: 16%;
}
